._top_default_exiz6_1 {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  opacity: 0.2;
  background-color: #ffffe0;
  border: 2px solid #00f;
}
._whatever_6y1y8_2 {
  color: tomato;
}
